.landingpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  background-color: #f0f0f0;
  box-sizing: border-box;
  color: black;
  gap: 1em;
}

.landingpage button {
  background-color: #409d9b;
}

.destination-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.landingpage-destiantions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  background-color: #f0f0f0;
  box-sizing: border-box;
  color: black;
  padding: 4em;
  padding-top: 0px;
}

.landingpage-destiantions h1 {
  margin: 0.3em;
}

@media screen and (max-width: 1250px) {
  .destination-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
